@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto sans-serif;
}
.grid{
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar{
    background-color: #0ea5e9;
    height: 100vh;
}

.logo-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px 20px;
    margin-bottom: 60px;
    margin-left: 0px;
}

.logo-text h1{
    margin-top: 5px;
  margin-left: 10px;
  font-size: 25px;
  font-weight: bold;
}

.icon-text{
    display: flex;
    justify-content: flex-start;
    margin: 20px 20px;
    margin-left: 95px;
    color: white;
}
.list-items-bootom{
    margin-top: 100px;
}
.icon-text p{
    margin-top: 5px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
}

/* main screen*/

.main{
    
    background-color: white                      ;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 3%;
    
}

.navbar input{
    width: 600px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 2px;
    margin-left: -220px;
    margin-right: 200px;
}

 .avatar{
    margin-left: -200px;
}
.navbar h4{
    margin-left: -200px;
    margin-right: 80px;
    font-weight: bold;
}

.second-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    display: flex;
    align-items: center;
    margin: 25px 60px;

}

.left .text{
    margin-left: 20px;
    font-weight: bold;
}

.right{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-right: 80px;
}

.btn{
    background-color: #0ea5e9;
    border: 1px solid #0ea5e9;
    width: 90px;
    height: 40px;
    margin-left: 30px;
    border-radius: 20px;
    color: white;
    padding: 10px;
    font-weight: bold;
    
}


.content{
    background-color: #e5e7eb;
   display: grid;
   grid-template-columns: 70% 30%;
   

}

.projects h3{
  margin-left: 30px;
  margin-top: 20px;
}
.cards{
    display: grid;
    grid-template-columns: 50% 50%;
   
   
   
}

.card{
  width: 80%;
  height: 200px;
  display: flex;
  background-color: white;
  border-left: 5px solid #fde047;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
  
}
.card-right{
    margin-left: -50px;
}

.card p{
    font-size: 14px;
    color: #d4d4d4;
    margin-top: 5px;
    
}

.icons{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-top: 20px;
    width: 100%;
}

.ann-trend{
    display: grid;
    grid-template-rows: 50% 50%;
     
 
}


.announcement h3{
    margin-top: 20px;
   
}

.divider{
    width: 80%;
    margin-left: 20px;
    border: 0.5px solid #737373;
}

.ann-card,.trend-card{
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 10px;  
    margin-top: 20px;
    margin-left: -20px;
    padding: 5px;
}

.ann-text,.trend-text {
    padding: 10px 20px;
}

.ann-text h4{
    font-size: 16px;
}

.ann-text p,.trend-text p{
    font-size: 14px;
    margin-top: 5px;
    color: #d4d4d4;
    
    
}

.trend-img-text{
    display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 10px 10px;
    
}